<h1>
  <%= @the_board.name %> 
</h1>

<hr>

<div classname="add_post">
    <h2>
      Add a new post
    </h2>

    <form action="/insert_post" method="post">
      <input name="query_board_id" type="hidden" value="<%= @the_board.id %>">

      <div>
        <label for="query_title">
            Title
        </label>
          
        <input id="query_title" type="text" name="query_title" required>
      </div>

      <div>
        <label for="query_body">
          Body
        </label>
        <textarea id="query_body" type="text" name="query_body" required>
        </textarea>
      </div>

      <div>
        <label for="query_expires_on">
          Expires on 
        </label>
        <input id="query_expires_on" type="date" name="query_expires_on" required>
      </div>
      
      <button>
        Add post
      </button>
    </form>
</div>

<hr>

<h2>
  Active posts
</h2>

<table border="1">
  <tr>
    <th>
      Title
    </th>

    <th>
      Body
    </th>

    <th>
      Posted on
    </th>

    <th>
      Expires on
    </th>
  </tr>

  <% @the_board.posts.order(created_at: :desc).each do |post|%>

  <tr>
    <td>
      <%= post.title %>
    </td>

    <td>
      <%= post.body%>
    </td>

    <td>
      <%= post.created_at%>
    </td>

    <td>
      <%= post.expires_on%>
    </td>
  </tr>

  <% end %>
</table>

   

<h2>
  Expired posts
</h2>
